body {
	margin: 0;
	padding: 0;
	text-align: center;
}
#baner {
	height: 75px;
	width: 100%;
	background-color: DeepSkyBlue;
}
#kontener {
	margin: auto;
	width: 100%;
	display: flex;
}
#lewa {
	width: 30%;
	height:  786px;
	background-color: Aqua;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
#prawa {
	width: 30%;
	height: 786px;
	background-color: Aqua;
}
#środek {
	width: 40%;
	height: 786px;
	background-color:Aquamarine;
}
	
#środek2 {
	width: 40%;
	height: 786px;
	background-color:Aquamarine;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
#stopka {
	background-color: DeepSkyBlue;
	height: 40px;
}
.img-responsive{
  max-width: 100%;
  height: auto;
}
.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.photo {
	margin: 10px 0;
	width: 195px;
	background: white;
	padding: 10px;
	opacity: 0.7;
	border-radius: 5px;
	border: 1px solid black;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	
}
.photo img {
	flex-basis: 100%;
	width: 90px;
	
}
.photo figcaption {
	margin-top: 10px;
}
.photo:hover {
	opacity: 1;
	transition: 0.7s all
}
.male{
	width:560;
	height:315:
}
td { border: 1px solid black; }